.root {
  position: relative;
  width: 100%;
}

.fieldContainer {
  position: relative;
  width: 100%;
}

.field {
  width: 100%;
  padding: 6px 12px;

  font-family: inherit;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background: transparent;
  border: 1px solid var(--color-dark-300);
  outline: 0;

  transition: border-color 0.2s;

  &::placeholder {
    color: var(--color-dark-100);
  }

  &:focus-visible {
    border-color: var(--color-outline-focus);
    outline: 1px solid var(--color-outline-focus);
  }

  &:hover {
    background: var(--color-dark-700);
  }

  &.error {
    color: var(--color-danger-300);
    border-color: var(--color-danger-300);
  }
}

.messageError {
  position: absolute;
  bottom: -25px;
  left: 0;
}

.label {
  margin-bottom: 1px;
  color: var(--color-dark-100);
}

.showPassword {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  margin-right: 12px;
  padding: 0;

  background: transparent;
  border: 0;
  outline: 0;

  &:focus-visible {
    outline: var(--outline-focus);
  }
}

.showSearch {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  padding: 0;

  path {
    fill: var(--color-dark-100);
  }

  .fieldContainer:focus-within &,
  .fieldContainer:hover & {
    path {
      fill: var(--color-light-100);
    }
  }
}

.paddingStart {
  padding: 6px 30px 6px 37px;
}
