@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  line-height: var(--font-size-xxl);

  background-color: transparent;
  border: none;
  border-radius: 4px;

  transition:
    var(--transition-duration-basic) background-color,
    var(--transition-duration-basic) color;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:hover:enabled {
    background-color: var(--color-accent-300);
  }

  &:active:enabled {
    background-color: var(--color-accent-700);
  }
}

.secondary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:active:enabled {
    background-color: var(--color-dark-500);
  }
}

.tertiary {
  @include button;

  color: var(--color-accent-500);
  background-color: var(--color-dark-900);
  border: 1px solid var(--color-accent-500);

  &:hover:enabled {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-accent-700);
  }

  &:active:enabled {
    background-color: var(--color-accent-900);
    border: 1px solid var(--color-accent-700);
  }
}
